.swiper-slide {
    width: auto;
    max-width: 100%;

    @media (max-width: 768px) {
        width: 75%;
    }
}

.image-slider {
    border-radius: 10px !important;
}

.hero-link {
    text-decoration: none !important;
}

.swiper-pagination-bullet-active {
    background-color: #fff;
}