.breadcrumb {
  font-size: 1rem !important;
}

.breadcrumb__list__item:nth-of-type(2) {
  text-transform: capitalize;
}

.aligncenter {
  display: block;
  margin: 20px auto 0px auto !important;
}

// Styles for ultra-wide screens
@media screen and (min-width: 3001px) {
  .aboutTeamGrid {
    grid-template-columns: repeat(7, 1fr) !important;
  }
}

@media screen and (min-width: 4200px) {
  .aboutTeamGrid {
    grid-template-columns: repeat(8, 1fr) !important;
  }
}

@media screen and (min-width: 4800px) {
  .aboutTeamGrid {
    grid-template-columns: repeat(10, 1fr) !important;
  }
}

@media screen and (min-width: 1960px) {
  .communityGrid {
    grid-template-columns: repeat(8, 1fr) !important;
  }
}

@media screen and (min-width: 4800px) {
  .aboutTeamGrid {
    grid-template-columns: repeat(10, 1fr) !important;
  }
}

@media screen and (min-width: 3000px) {
  .text-block-copy-wrapper {
    padding: 8rem 11rem;
  }

  .text-block-copy-wrapper h2 {
    font-size: 3rem !important;
  }

  .wpb_wrapper p {
    line-height: 2rem;
  }
}

.blog-content {
  .p1 {
    margin-top: 50px;


  }

  .about {
    margin-top: 100px;
  }

  img,
  figure {
    max-width: 100% !important;
    height: auto !important;
  }

  iframe {
    max-width: 100% !important;
    display: block;
    margin: 0 auto;

    @media screen and (max-width: 500px) {
      max-height: 250px;
    }
  }
}
